@font-face {
    font-family: title;
    src: url("../fonts/FaunaOne-DB4D.ttf");
}

@font-face {
    font-family: mainfont;
    src: url("../fonts/LibreFranklinRegular-qvP6.ttf");
}
@font-face {
    font-family: mainfont;
    src: url("../fonts/LibreFranklinBold-exBe.ttf");
    font-weight: bold;
}


body {
    font-family: mainfont;
    background-color: #000;
    color: #fff;
    font-size: 95%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: title;
}

button {
    font-family: mainfont;
}

ul {
    text-decoration: none;
    list-style: none;
    margin:0;
    padding:0;
}
.green {
    color: green;
}

.red {
    color: red;
}
.orange {
    color: orange;
}
.lightblue {
    color: lightblue;
}

#transparency {
    opacity: 1;
    background-color:black;
}

/*landing page*/

#landing-page {
    display: flex;
    flex-flow: column;
    align-items:center;
    justify-content: center;
    height:98vh;
}

#landing-image-container {
    position: relative;
    text-align: center;
    display: flex;
    flex-flow: column;
    background-image: url("../images/backgrounds/corridor2.jpeg");
    background-repeat: no-repeat;
    background-size: auto 100%; 
    width: 100vh;
    height: 85vh;
    justify-content: space-between;
    align-items: center;
}

#bottom-landing-section {
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    margin-bottom: 50px;
}

#landing-image-right, #landing-image-left {
    flex:1;
}

#landing-image-right img, #landing-image-left img {
    padding:0 20px;
    width: 175px;
}

#start-game-section {
    flex:1;
}

#start-game-section form input, #start-game-section button {
    width: 75%;
    margin: 5px;
    text-align:center;
}

#start-game-section form input placeholder {
    color:lightslategray;
}

/*Game Page*/

#game-page {
    position: relative;
    display:none;
    flex-flow: column;
    width: 100%;  
    
}
#transparency {
    opacity: 1;
    background-color:black;
}
#alert-page {
    display:none;
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 600px;
    height: 400px;
    z-index: 1000;
    text-align:center;
    background-color:black;
    border: ridge rgb(94, 61, 0) 3px;
    color: white;
}
#alert-page button {
    width: 300px;
}


#alert-title {
    color: red;
}
#alert-item-pick {
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}

.alert-new-image img, .alert-old-image img {
    max-width: 200px; 
}
.alert-new-image, .alert-old-image {
    padding:0;
    margin:0;
    border: ridge rgb(94, 61, 0) 3px;
}
.alert-image-container {
    position: relative;
    width:100%;
    height:100%;
}

.alert-result {
    display:none;
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    bottom: 0;
}

.alert-result img {
    width: 150px;
}



#game-text, #upper-text, #lower-text, #image-section, #battle-text{
    border: ridge rgb(94, 61, 0) 3px;
    background-color: #00000080;
    width:70%;
    margin:10px auto;
    padding:0 5px 0 5px;
}

#battle-text {
    text-align: center;
}

#choices-section, #battles-section {
    margin:20px 0;
}

.choice-button, .choice-button:visited {
    background-color: #331704B3;
    font-size: 95%;
    color: white;
    margin: 3px 0;
    width:70%;
    border: ridge rgb(94, 61, 0) 3px;
    padding: 2px 0 4px 0;
}

.choice-button:hover, .choice-button:active {
    background-color: rgba(255, 255, 255, 0.507);
    color: black;    
    font-weight: bold;
}

#upper-text {
    margin-top:20px;
}

#game-text img {
    
    width:40%;
}

/* Title section */

.title-section {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 200px;
}

.title-section h1 {
    margin: 0;
    padding: 0;
    font-size:200%;
}

#title-left, #title-right {
    display:flex;
    align-items:center;
    height: 45px;
    margin:0;
    padding:0;
}
#title-spiral {
    margin-top:5px;
}
#game-navigation {
    text-align:center;
    justify-content:center;
    margin-bottom:0;
}
#game-navigation li {
    display:inline-block;
    width:85px;
    margin:5px;
}

#game-navigation button {
    width:85px;
    height:40px;
    border: ridge rgb(94, 61, 0) 3px;
    color: white;
}

#giveup-game-button {
    background-color: #564040;
}
#restart-game-button {
    background-color: #7a5111;
}
#reset-game-button {
    background-color: #3C1006;
}


.spiral {
    height: 20px;
    background: url("../images/custom/spiral-white.svg");
    background-size: auto 100%;
    margin:10px 200px;
}

#character-spiral {
    display:none;
}

/*main body of page*/
#centre-section {
    position:relative;
    display:flex;
    margin:0px 200px;
    text-align: center;
}

/*character image element and stats*/
#character-section {
    display:flex;
    flex-flow: column;
    flex:1;
    justify-content: center;
    margin: 10px;
}
#character-sheet-name {
    margin-top:0;
    margin-bottom:10px;
}
#character-image {
    padding: 10px;
}
#character-image img {
    width:220px;
}

#character-stats {
    display:flex;
    flex-flow: column;
    align-items:center;
}

#character-stats-table {
    border-collapse: collapse;
    line-height: 100%;
}

.stat-name {
    text-align: right;
    padding: 3px;
}

.stat-stat {
    text-align: left;
    padding-left: 3px;
}
.stat-modify {
    padding: 3px;
}


#strength-modify, #skill-modify, #defence-modify, #luck-modify {
    color: green;
}

#health-modify {
    color: red;
}
/* Main game-play area */
#game-section {
    display: flex;
    flex-direction: column;
    flex:3;
    background-size: auto !important;
    background-position:  left center !important;
    background-repeat: no-repeat !important;
    height:60vh;
    margin-left:50px;
    justify-content: space-around;
}

#image-section {
    display: none;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding:5px;
    border: ridge rgb(94, 61, 0) 3px;
}

#image-section table {
    border-collapse:collapse;
    line-height:100%;
}


#image-image {
 flex:2;
}
#image-text {
    display:flex;
    flex-flow:column;
    align-items: center;
    flex:4;
}

#battle-text {
    display:none;
}

#image-image img {
    padding: 5px;
    width: 200px;
}


#image-section h3 {
 margin-top: 5px;
 margin-bottom: 0;
}

#image-section p {
    margin-top: 10px;
}

#image-section table {
    margin-bottom: 5px;
}




/* bottom items and game restart section */

#bottom-game-section {
    display:flex;
    margin: 10px 200px;
}

#player-items {
    flex:1;
    display:flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}
.player-items-switch {
    flex:1;
    display:flex;
    justify-content: space-around;
}

.item-display {
    display:flex;
    align-items: center;
    justify-content:center;
    background-image:url("../images/backgrounds/stone.jpg");
    background-size: auto 100% ;
    margin: 5px;
    padding: 3px;
    height: 160px;
    width: 220px;
}



.item-table {
   border-collapse: collapse;
   line-height: 100%; 
   text-align: center;
}

.item-image img {
    width: 105px;
    margin: 0 5px;
}

.item-text {
    display:flex;
    flex-flow: column;
    width: 105px;
    justify-content:center;
    align-items: center;
    text-align:center;
}
.item-text h4 {
    margin:0;
    padding-top:2px;
}

.item-text hr {
    width:75%;
}
.stat-paragraph {
    margin: 0;
    border: 0;
    padding: 0;
}


/*End Page*/

#gameover-page {
    display:none;
    flex-flow: column;
    width: 100%;
    text-align:center;
    margin: auto;
    
}

#gameover-image-container {
    display: flex;
    flex-flow: column;
    margin-left:50px;
    background: url("../images/backgrounds/corridor2.jpeg") no-repeat left center;
    background-size: 100% 100%;
    margin: auto;
    width: 80vw;
    height:80vh;
    justify-content: space-between; 
    align-items: center;
}

#stats-container {
    margin-top: 75px;
}

#end-game-navigation {
    width: 50%;
    margin-bottom: 75px; 
}

#end-game-navigation button {
    width:75%;
    margin-top:10px;
}

/* MEDIA QUERIES */

/* larger screens */
@media screen and (min-width:1975px) {
    .title-section, #centre-section, #bottom-game-section {
        margin:0px 300px;
    }
    .spiral {
        margin:10px 300px;
    }

}
@media screen and (min-width:2100px) {
    .title-section, #centre-section, #bottom-game-section {
        margin:0px 500px;
    }
    .spiral {
        margin:10px 500px;
    }

}
@media screen and (min-width:2500px) {
    .title-section, #centre-section, #bottom-game-section {
        margin:0px 750px;
    }
    .spiral {
        margin:10px 750px;
    }

}
@media screen and (min-width:3050px) {
    .title-section, #centre-section, #bottom-game-section {
        margin:0px 1000px;
    }
    .spiral {
        margin:10px 1000px;
    }

}
@media screen and (min-width:3400px) {
    .title-section, #centre-section, #bottom-game-section {
        margin:0px 1200px;
    }
    .spiral {
        margin:10px 1200px;
    }

}

/* smaller screens */
@media screen and (max-width:1750px) {

/*GAME PAGE */

/*character section*/
#character-image img {
    max-width:100%;
}

/* Item slots */
    

}
@media screen and (max-width:1500px) {
    .title-section, #centre-section, #bottom-game-section {
        margin:0px 100px;
    }
    .spiral {
        margin:10px 100px;
    }
    
}
@media screen and (max-width:1200px) {
.item-text, .item-image img {
    width: 95px; 
}

.title-section, #centre-section, #bottom-game-section {
    margin:0px 45px;
}
.spiral {
    margin:10px 45px;
}
#game-section {
    background-position:  -175px center !important;
}
}
@media screen and (max-width:1080px) {

    #game-section {
        background-size: auto 100% !important;
        background-position:  0px center !important;
        height: 100%;
    }

    .item-display {
        flex-flow: column;
        justify-content: center;
        height:275px;
        width: 150px;
        margin-top:20px;
    }
    .item-text, .item-image img {
        width: 120px; 
    }

    #centre-section {
        align-items: center;
    }

       .item-text, .item-image img  {
        width: 75;
    }
}
@media screen and (max-width:768px) {
    #game-section {
    margin-left:0;
    }
    .title-section, #centre-section, #bottom-game-section {
        margin:0px 10px;
    }

    #title-left, #title-right {
        height: 100%;
    }
    #character-spiral {
        display: block;
        width:100%;
    }
    .spiral {
        margin:5px 10px;
    }
    
    #landing-image-left, #landing-image-right {
        display:none;
        justify-content:space-around;
    }
    #landing-image-container {
        width:100%;
    }
/*Title Section */

.title-section {
    text-align:center;
    flex-flow: column;
}


/*character section*/
    #centre-section {
        flex-flow:column;
    }
    #character-section {
        flex-flow: row;
        align-items:center;
    }
    #character-image {
        flex:1;
    }
    #character-stats {
        flex:1;
    }
/*game section*/
#game-section {
    width:100%;
}

#game-text img {
     width:75%;
}

#image-section {
    flex-flow:column;
}

/*items section*/
#player-items{
    width:100%;
}

.player-items-switch {
    flex-flow:column;
    align-items: center;
}
#alert-page {
    width: 275px;
    height: 330px;
}

.alert-new-image img, .alert-old-image img {
    max-width: 120px; 
}

.alert-result {
    top:7px;
}

.alert-result img {
    width: 100px;
}

#alert-page button {
    width: 100%;
}


}
@media screen and (max-width:576px) {
    #game-section {
        background-size: auto 100% !important;
        background-position:  0px center !important;
    }
    .title-section, #centre-section, #bottom-game-section {
        margin:0px 5px;
    }
    .spiral {
        margin:5px 5px;
    }

}
@media screen and (max-width:400px) {
    #game-section {
        background-size: auto 100% !important;
        background-position:  -125px center !important;
    }
    .item-display {
        width: 135px;
        margin-top:20px;
    }
    .item-text, .item-image img {
        width: 110px; 
    }

}

/* smaller screen heights */
@media screen and (max-height:1000px) {

    #character-section {
        height: 100%;
    }
    #game-section {
        min-height:75vh;
        max-height: 100%;
    }
    #image-image img {
        padding: 5px;
        width: 125px;
    }
    #game-page, .choice-button, .choice-button:visited {
        font-size: 90%;
    }
}
