body {
    background-color: #000;
    color: #fff;  
}

ul {
    text-decoration: none;
    list-style: none;
    margin:0;
    padding:0;
}
.green {
    color: green;
}

.red {
    color: red;
}
.orange {
    color: orange;
}
.lightblue {
    color: lightblue;
}

#transparency {
    opacity: 1;
    background-color:black;
}

/*landing page*/

#landing-page {
    display: flex;
    flex-flow: column;
    align-items:center;
    justify-content: center;
    height:98vh;
}

#landing-image-container {
    position: relative;
    text-align: center;
    display: flex;
    flex-flow: column;
    background-image: url("../images/backgrounds/corridor2.jpeg");
    background-repeat: no-repeat;
    background-size: auto 100%; 
    width: 100vh;
    height: 85vh;
    justify-content: space-between;
    align-items: center;
}

#bottom-landing-section {
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    margin-bottom: 50px;
}

#landing-image-right, #landing-image-left {
    flex:1;
}

#landing-image-right img, #landing-image-left img {
    padding:0 20px;
    width: 175px;
}

#start-game-section {
    flex:1;
}

#start-game-section form input, #start-game-section button {
    width: 75%;
    margin: 5px;
    text-align:center;
}

#start-game-section form input placeholder {
    color:lightslategray;
}

/*Game Page*/

#game-page {
    position: relative;
    display:none;
    flex-flow: column;
    width: 100%;  
    
}
#transparency {
    opacity: 1;
    background-color:black;
}
#alert-page {
    display:none;
    position:absolute;
    left: 50%;
    right: 50%;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 400px;
    height: 200px;
    z-index: 1000;
    text-align:center;
    background: darkgrey;
    border: dashed red 8px;
    color: black;
}
#alert-page button {
    width: 300px;
}


#alert-title {
    color: red;
}


#game-text, #upper-text, #lower-text, #image-section, #battle-text-player, #battle-text-enemy {
    background-color: #00000080;
    width:70%;
    margin:auto;
    padding:0 5px 0 5px;
}

#choices-section, #battles-section {
    margin-bottom:20px;
}
#upper-text {
    margin-top:20px;
}

#game-text img {
    
    width:40%;
}

/* Title section */

.title-section {
    display:flex;
    justify-content: space-between;
    margin:0px 200px;
}

/*main body of page*/
#centre-section {
    display:flex;
    margin:0px 200px;
    text-align: center;
}

/*character image element and stats*/
#character-section {
    display:flex;
    flex-flow: column;
    border: 2px solid green;
    padding:5px;
    flex:1;
}

#character-image {
    padding: 10px;
}
#character-image img {
    width:220px;
}
/* Main game-play area */
#game-section {
    display: flex;
    flex-direction: column;
    flex:3;
    margin-left:50px;
    background-size: 100%;
    height:60vh;
    justify-content: space-around;
}

#image-section {
    display: none;
    flex-flow: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    padding:5px;
    border: 2px solid red;
}

#battle-text {
    display:none;
}

#image-image img {
    padding: 5px;
    width: 200px;
}

.choice-button {
    margin: 3px 0;
    width:70%;
}

/* bottom items and game restart section */

#bottom-game-section {
    display:flex;
    margin: 10px 200px;
}

#game-navigation {
    flex:1;
    text-align:center;
    justify-content:center;
}

#game-navigation button {
    margin-bottom:10px;
    width: 75%;
}

#player-items {
    flex:3;
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-left:75px;
}

.item-display {
    display:flex;
    align-items: center;
    border: 2px solid blue;
    margin: 10px;
    padding: 3px;
    height: 140px;
}

.item-image img {
    width: 92px;
    margin: 0 5px;
}

.item-text {
    width: 92px;
    text-align: center;
}
.item-text h4 {
    margin:0;
    padding-top:2px;
}

.item-text hr {
    width:75%;
}


/*End Page*/

#gameover-page {
    display:none;
    flex-flow: column;
    width: 100%;
    text-align:center;
    margin: auto;
    
}

#gameover-image-container {
    display: flex;
    flex-flow: column;
    margin-left:50px;
    background: url("../images/backgrounds/corridor2.jpeg") no-repeat left center;
    background-size: 100% 100%;
    margin: auto;
    width: 80vw;
    height:80vh;
    justify-content: space-between; 
    align-items: center;
}

#stats-container {
    margin-top: 75px;
}

#end-game-navigation {
    width: 50%;
    margin-bottom: 75px; 
}

#end-game-navigation button {
    width:75%;
    margin-top:10px;
}

/* Media Queries */
/*SCREEN WIDTHS*/

@media screen and (max-width:1750px) {

/*GAME PAGE */

/*character section*/
#character-image img {
    max-width:100%;
}

/* Item slots */
    #player-items {
        display:flex;
        align-items: center;
        margin-left:50px;
    }
    .item-display {
        flex-flow: column;
        margin: 0px;
        height:100%;
    }

}


/* SCREEN HEIGHTS */
@media screen and (max-height:800px) {
    #game-section {
        height:75vh;
    }
    #image-image img {
        padding: 5px;
        width: 125px;
    }
    #game-page {
        font-size: 85%;
    }
}